apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn-system

resources:
  - ns.yaml
  - http-route.yaml

helmCharts:
- name: longhorn
  namespace: longhorn-system
  releaseName: longhorn
  repo: https://charts.longhorn.io
  version: 1.10.1
  valuesFile: values.yaml
