apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - http-route.yaml
  - grpc-service.yaml
  - grpc-route.yaml
  - argocd-auth.yaml
  - argocd-oauth-client-data.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 8.5.7
    releaseName: "argocd"
    namespace: argocd
    valuesFile: values.yaml
